@page
@model ParkinLot.App.Frontend.Pages.ListaReservasModel
@{
}
<body class="bodyesp">
<h1>Gestión de reservas</h1>
<p>En esta página podrás gestionar las reservas</p>
<a class="btn btn-primary table-btn" asp-page="./AgregarReserva">Agregar reserva</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Fecha reserva</th>
            <th scope="col">Hora de inicio</th>
            <th scope="col">Hora fin</th>
            <th scope="col">Vehículo</th>
            <th scope="col">Espacio parqueadero</th>
        </tr>
    </thead>
    @foreach (var reserva in Model.Reservas)
    {
        <tr>
            <td>@reserva.FechaReserva</td>
            <td>@reserva.HoraInicio</td>
            <td>@reserva.HoraFin</td>
            <td>@reserva.Vehiculo</td>
            <td>@reserva.EspacioParqueadero</td>
        </tr>

    }
</table>
</body>