@page
@model ParkinLot.App.Frontend.Pages.ListaVehiculosModel
@{
}
<h1>Gestión de vehículos</h1>
<p>En esta página podrás gestionar los vehículos</p>
<a class="btn btn-primary table-btn" asp-page="./AgregarVehiculo">Agregar vehículo</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Color</th>
            <th scope="col">Placa</th>
            <th scope="col">Defectos</th>
            <th scope="col">Tipo de vehículo</th>
            <th scope="col">Dueño del vehículo</th>

        </tr>
    </thead>
    @foreach (var vehiculo in Model.Vehiculos)
    {
        <tr>
            <td>@vehiculo.Marca</td>
            <td>@vehiculo.Modelo</td>
            <td>@vehiculo.Color</td>
            <td>@vehiculo.Placa</td>
            <td>@vehiculo.Defectos</td>
            <td>@vehiculo.TipoVehiculo</td>
            <td>@vehiculo.DuenoVehiculo</td>
        </tr>

    }
</table>