@page
@model ParkinLot.App.Frontend.Pages.ListaGerentesModel
@{
}
<h1>Gestión de gerentes</h1>
<p>En esta página podrás gestionar los gerentes</p>
<a class="btn btn-primary table-btn" asp-page="./AgregarGerente">Agregar gerente</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Documento</th>
            <th scope="col">Usuario</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Código empleado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    @foreach (var gerente in Model.Gerentes)
    {
        <tr>
            <td>@gerente.Nombres</td>
            <td>@gerente.Apellidos</td>
            <td>@gerente.Documento</td>
            <td>@gerente.Usuario</td>
            <td>@gerente.Contrasena</td>
            <td>@gerente.CodigoEmpleado</td>
            <th>
                <a class="btn btn-primary table-btn" asp-page="./EditarGerente"
                asp-route-CodigoEmpleado="@gerente.CodigoEmpleado">Editar</a>
                <br>
                <a class="btn btn-primary table-btn" asp-page="./EliminarGerente"
                asp-route-CodigoEmpleado="@gerente.CodigoEmpleado">Eliminar</a>
            </th>
        </tr>

    }
</table>