@page
@model ParkinLot.App.Frontend.Pages.DetalleAuxiliarModel
@{
}
<h1>Detalle del auxiliar @Model.Auxiliar.Nombres</h1>
<ul>
    <li>Nombre: @Model.Auxiliar.Nombres</li>
    <li>Apellidos: @Model.Auxiliar.Apellidos</li>
    <li>Nombre: @Model.Auxiliar.Nombres</li>
    <li>Documento: @Model.Auxiliar.Documento</li>
    <li>Usuario: @Model.Auxiliar.Usuario</li>
    <li>Constraseña: @Model.Auxiliar.Contrasena</li>
    <li>Código del empleado: @Model.Auxiliar.CodigoEmpleado</li>
</ul>